@import "./variables.scss";

.header {
  &__image {
    width: 100vw;
    margin: 0 auto;
    &_lg {
      display: block;
      max-width: $max-width * 1.5;
      transform: translate(-10%);
      @media screen and (min-width: $max-width * 1.5) {
        transform: translate(-15%);
      }
      @media screen and (max-width: $responsible) {
        transform: translate(-20px);
      }
      @media screen and (max-width: $responsible-mobile) {
        & {
          display: none;
        }
      }
    }
    &_sm {
      display: none;
      transform: translate(-20px);
      @media screen and (max-width: $responsible-mobile) {
        & {
          display: block;
        }
      }
    }
  }
  &__title {
    font-size: 60px;
    line-height: 120%;
    margin: $basic-vertical-padding 0 $basic-vertical-padding / 4;
    @media screen and (max-width: $responsible) {
      & {
        font-size: 12vmin;
      }
    }
    &::before,
    &::after {
      content: '';
      border-top: 1px solid $middle-light-color;
      width: 100%;
      display: block;
      margin: $basic-vertical-padding auto;
    }
    &::after {
      margin-bottom: $basic-vertical-padding / 4;
    }
  }
  &__date {
    text-align: right;
    margin: 0 0 $basic-vertical-padding 0;
  }
}
.body {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 150%;
  }
  h2 {
    margin: $basic-vertical-padding * 3 / 4 0 $basic-vertical-padding / 2 0;
    font-size: 48px;
  }
  h3 {
    margin: $basic-vertical-padding / 2 0 $basic-vertical-padding / 3 0;
    font-size: 34px;
  }
  h4 {
    margin: $basic-vertical-padding / 3 0 $basic-vertical-padding / 4 0;
    font-size: 24px;
  }
  p {
    margin-bottom: 10px;
  }
  figure {
    margin: $basic-vertical-padding / 4 0;
    text-align: center;
    img {
      object-fit: contain;
      @media screen and (max-width: $responsible) {
        & {
          width: 100%;
        }
      }
    }
  }
}
.author {
  padding: $basic-vertical-padding 0;
  p {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &::before {
      content: '\02014';
      display: block;
      transform: translate(-30%);
    }
  }
}