@import "./variables.scss";

.header {
  background-color: $darker-main-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  box-shadow: 0 1px 25px 0 $middle-light-color;
  .section {
    min-height: $basic-vertical-padding;
    display: flex;
    align-items: center;
    &__logo {
      font-size: 34px;
      color: $middle-light-color;
    }
  }
}

.main {
  padding-top: $basic-vertical-padding;
  padding-bottom: $basic-vertical-padding;
  background-color: $main-color;
  overflow: hidden;
}

.footer {
  background-color: $darker-main-color;
  padding: $basic-vertical-padding 0;
  box-shadow: 0 -1px 25px 0 $middle-light-color;
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    * {
      color: $middle-light-color;
    }
  }
}