$responsible: 600px;
$responsible-mobile: 450px;
$max-width: 1200px;
$main-color: #860000;
$darker-main-color: #720000;
$light-color: #f0f0f0;
$middle-light-color: #cccccc;
$dark-color: #333;
$basic-vertical-padding: 64px;